.judul2{
    justify-content: center;
    display: flex;
    margin-top: 20px;
    padding-top: 55px;
  }
  .judul2{
    margin-top: 70px;
  }
  .about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #ffffff;
    padding: 20px 100px 60px 100px;
  }
  .about .gambar img{
    width: 80%;
    border-radius: 5%;
  }
  .about .text p{
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .about .text h1{
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .about .text{
    max-width: 50%;
  }
  .judul2 h1{
    color: rgb(255 202 0);
  }
  .judul2 h1 span{
    color: #8A489C;
  }