#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 0;
}
a{
  color: black;
}
h1{
  color: #384967  ;
}
p{
  color: black;
}
/* style navbar start */
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar .menu ul{
  list-style: none;
  display: flex;
  gap: 30px;
}
.navbar .menu ul li a{
  text-decoration: none;  
}

.navbar .logo img{
  width: 100%;
  margin-top: 10px;
}
.navbar .menu{
  margin-right: 25px;
}
/* style navbar end */

/* home start */
.img{
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  background-image: url(https://wuling.id/assets/images/home/home-banner/xCloud-desktop-home.jpg.pagespeed.ic.y8elCmfstH.webp);
}
.img .konten{
    width: 25%;
    white-space: normal;
    position: absolute;
    top: 200px;
    left: 100px;
    background-color: rgba(255, 255, 255, 0.838);
    padding: 40px 30px;
}
.img .konten h1{
  color: rgb(0, 0, 0);
}
.img .konten a{
  background-color: #384967;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
/* home end */

/* produk start */

.judul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-top: 30px;
}
.fotoproduk .isiproduk{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  
}
.fotoproduk{
  margin-top: 40px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}
.produk1{
  width: 20%;
  padding: 5px;
}
.produk2{
  width: 20%;
  padding: 5px;
}
.produk3{
  width: 20%;
  padding: 5px;
}
.produk1 a img{
  width: 100%;
}
.produk2 a img{
  width: 100%;
}
.produk3 a img{
  width: 100%;
}
/* about start */
.judul2{
  justify-content: center;
  display: flex;
  margin-top: 20px;
  padding-top: 30px;
}
.judul2{
  margin-top: 70px;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #ffffff;
  padding: 50px 100px;
  margin-top: 25px;
}
.about .gambar img{
  width: 80%;
  border-radius: 5%;
}
.about .text p{
  color: rgb(0, 0, 0);
  text-align: center;
}
.about .text h1{
  color: rgb(0, 0, 0);
  text-align: center;
}
.about .text{
  max-width: 50%;
}
/* about end */
/* cs start */
.judulcs{
  justify-content: center;
  display: flex;
}
.isian{
  display: flex;
  justify-content: space-evenly;
  background-color: #cfcfcf;
  bottom: unset;
  right: 0;
  left: 0;
  position: absolute;
  padding: 20px 0;
  margin-top: 39px;
}
.isian .foto1{
  display: flex;
}
.isian .foto2{
  display: flex;
}
.isian .foto3{
  display: flex;
}
.isian h1{
  font-size: 17px;
  padding: 0px 25px;
  
}
.isian img{
  width: 50px;
}

